Repository GoogleCloudPlatform/jupyter-extensions, pull requests merged in 2020-10, with the labels that each got.

#361 Pins material-table to an explicit version to fix Jupyter build issues
  .github/workflows/presubmit.yaml
  .github/workflows/push.yaml
  Pipfile
  Pipfile.lock
  jupyterlab_caip_optimizer/jupyterlab_caip_optimizer/version.py
  jupyterlab_caip_optimizer/package.json
  jupyterlab_ucaip/jupyterlab_ucaip/version.py
  jupyterlab_ucaip/package.json
  package-lock.json
  package.json
  scripts/build_jupyterlab.sh
  scripts/common.sh
  scripts/dev-install.sh
  scripts/shared-install.sh
  shared/gcp_jupyterlab_shared/version.py
  shared/package-lock.json
  shared/package.json
Labels: hygiene

#362 Remove package-lock.json files from extensions
  .gitignore
  jupyterlab_bigquery/package-lock.json
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_comments/package-lock.json
  jupyterlab_gcpscheduler/package-lock.json
  jupyterlab_gcsfilebrowser/package-lock.json
  jupyterlab_gitsync/package-lock.json
  jupyterlab_hwconfig/package-lock.json
  jupyterlab_ucaip/package-lock.json
  shared/package-lock.json
Labels: hygiene

#369 Use the same region us-central1 for all Vizier API calls regardless o…
  jupyterlab_vizier/src/components/suggest_trials/index.spec.tsx
  jupyterlab_vizier/src/service/test_constants.ts
  jupyterlab_vizier/src/service/vizier_service.spec.ts
  jupyterlab_vizier/src/service/vizier_service.ts
  jupyterlab_vizier/src/setupTests.ts
  jupyterlab_vizier/src/utils/urls.ts
Labels: vizier

#370 Fix link to user guide for Scheduler
  jupyterlab_gcpscheduler/README.md
Labels: gcpscheduler, hygiene

#371 [HWConfig] UX improvements and fixes
  Pipfile.lock
  jupyterlab_hwconfig/README.md
  jupyterlab_hwconfig/jupyterlab_hwconfig/version.py
  jupyterlab_hwconfig/package.json
  jupyterlab_hwconfig/src/components/__snapshots__/hardware_scaling_status.spec.tsx.snap
  jupyterlab_hwconfig/src/components/action_bar.tsx
  jupyterlab_hwconfig/src/components/details_dialog_body.tsx
  jupyterlab_hwconfig/src/components/error_page.tsx
  jupyterlab_hwconfig/src/components/hardware_scaling_status.tsx
  jupyterlab_hwconfig/src/data/data.ts
  jupyterlab_hwconfig/src/details_widget.spec.tsx
  jupyterlab_hwconfig/src/service/notebooks_service.ts
  jupyterlab_hwconfig/src/test_helpers.ts
  scripts/deploy.sh
Labels: hwconfig
