Repository GoogleCloudPlatform/jupyter-extensions, pull requests merged in 2020-06, with the labels that each got.

#29 Move transport.ts to shared util package.
  .gitignore
  jupyterlab_gcpscheduler/package.json
  jupyterlab_gcpscheduler/src/components/dialog.spec.tsx
  jupyterlab_gcpscheduler/src/components/dialog.tsx
  jupyterlab_gcpscheduler/src/data.ts
  jupyterlab_gcpscheduler/src/index.ts
  jupyterlab_gcpscheduler/src/service/gcp.spec.ts
  jupyterlab_gcpscheduler/src/service/gcp.ts
  jupyterlab_gcpscheduler/src/service/project_state.spec.ts
  jupyterlab_gcpscheduler/src/service/project_state.ts
  jupyterlab_gcpscheduler/src/test_helpers.ts
  package-lock.json
  shared/client/index.ts
  shared/client/package.json
  shared/client/service/data.ts
  shared/client/service/test_helpers.ts
  shared/client/service/transport.spec.ts
  shared/client/service/transport.ts
Labels: shared-client

#28 feat(optimizer): add optimizer extension from cookiecutter
  .gitignore
  jupyterlab_caip_optimizer/README.md
  jupyterlab_caip_optimizer/babel.config.js
  jupyterlab_caip_optimizer/deploy.sh
  jupyterlab_caip_optimizer/jest.config.js
  jupyterlab_caip_optimizer/jupyter-config/jupyter_notebook_config.d/jupyterlab_caip_optimizer.json
  jupyterlab_caip_optimizer/jupyterlab_caip_optimizer/__init__.py
  jupyterlab_caip_optimizer/jupyterlab_caip_optimizer/handlers.py
  jupyterlab_caip_optimizer/jupyterlab_caip_optimizer/tests/__init__.py
  jupyterlab_caip_optimizer/jupyterlab_caip_optimizer/tests/handlers_test.py
  jupyterlab_caip_optimizer/jupyterlab_caip_optimizer/version.py
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/schema/gcpsettings.json
  jupyterlab_caip_optimizer/setup.cfg
  jupyterlab_caip_optimizer/setup.py
  jupyterlab_caip_optimizer/src/components/list_word_item.tsx
  jupyterlab_caip_optimizer/src/components/list_words_widget.tsx
  jupyterlab_caip_optimizer/src/index.ts
  jupyterlab_caip_optimizer/src/service/list_words.ts
  jupyterlab_caip_optimizer/src/setupTests.ts
  jupyterlab_caip_optimizer/style/images/storage_24px.svg
  jupyterlab_caip_optimizer/style/index.css
  jupyterlab_caip_optimizer/tsconfig.json
  jupyterlab_caip_optimizer/tsconfig.prod.json
  lerna.json
  package-lock.json
Labels: optimizer

#59 Adding popup widget component
  jupyterlab_gcedetails/src/__snapshots__/details_widget.spec.tsx.snap
  jupyterlab_gcedetails/src/components/widget_popup.tsx
  jupyterlab_gcedetails/src/data.ts
  jupyterlab_gcedetails/src/details_widget.tsx
  jupyterlab_gcedetails/style/images/graphs-icon.png
  jupyterlab_gcedetails/style/index.css
Labels: gcedetails

#60 Feat/resource utilization graph component
  jupyterlab_gcedetails/src/__snapshots__/details_widget.spec.tsx.snap
  jupyterlab_gcedetails/src/components/resource_utilization_charts.tsx
  jupyterlab_gcedetails/src/components/server_wrapper.tsx
  jupyterlab_gcedetails/src/data.ts
  jupyterlab_gcedetails/src/details_widget.spec.tsx
  jupyterlab_gcedetails/src/details_widget.tsx
Labels: gcedetails
