Repository GoogleCloudPlatform/jupyter-extensions, pull requests merged in 2020-07, with the labels that each got.

#67 Miscellaneous changes to support monorepo functions.
  README.md
  jupyterlab_automl/deploy.sh
  jupyterlab_bigquery/deploy.sh
  jupyterlab_caip_optimizer/deploy.sh
  jupyterlab_gcedetails/deploy.sh
  jupyterlab_gcpscheduler/jupyterlab_gcpscheduler/version.py
  jupyterlab_gcpscheduler/package-lock.json
  jupyterlab_gcpscheduler/package.json
  jupyterlab_gcsfilebrowser/deploy.sh
  scripts/deploy.sh
  shared/gcp_jupyterlab_shared/__init__.py
  shared/gcp_jupyterlab_shared/handlers.py
  shared/package.json
Labels: documentation, gcpscheduler, hygiene

#82 [HardwareConfiguration] Added workflow to display utilization charts when widget is clicked
  jupyterlab_gcedetails/src/__snapshots__/details_widget.spec.tsx.snap
  jupyterlab_gcedetails/src/components/chart_wrapper.tsx
  jupyterlab_gcedetails/src/components/resource_utilization_charts.tsx
  jupyterlab_gcedetails/src/components/widget_popup.tsx
  jupyterlab_gcedetails/src/data.ts
  jupyterlab_gcedetails/src/details_widget.tsx
Labels: gcedetails

#80 [Optimizer] Setup for handling API calls and displaying views
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/setup.py
  jupyterlab_caip_optimizer/src/index.ts
  jupyterlab_caip_optimizer/src/service/optimizer.spec.ts
  jupyterlab_caip_optimizer/src/service/optimizer.ts
  jupyterlab_caip_optimizer/src/service/test-constants.ts
  jupyterlab_caip_optimizer/src/store/metadata.spec.ts
  jupyterlab_caip_optimizer/src/store/metadata.ts
  jupyterlab_caip_optimizer/src/store/store.ts
  jupyterlab_caip_optimizer/src/store/studies.spec.ts
  jupyterlab_caip_optimizer/src/store/studies.ts
  jupyterlab_caip_optimizer/src/types.ts
  package-lock.json
Labels: optimizer

#88 [HardwareConfiguration] Created hardware scaling form and dialog
  jupyterlab_gcedetails/package-lock.json
  jupyterlab_gcedetails/package.json
  jupyterlab_gcedetails/src/components/hardware_scaling_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/input_slider.tsx
  jupyterlab_gcedetails/src/components/synchronized_sliders.tsx
  jupyterlab_gcedetails/src/data.ts
  shared/package.json
  shared/src/components/text_input.tsx
Labels: gcedetails

#91 [Optimizer] add sidebar
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/list_word_item.tsx
  jupyterlab_caip_optimizer/src/components/list_words_widget.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget.spec.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget.tsx
  jupyterlab_caip_optimizer/src/index.ts
  jupyterlab_caip_optimizer/src/service/list_words.ts
  jupyterlab_caip_optimizer/src/service/optimizer.spec.ts
  jupyterlab_caip_optimizer/src/service/optimizer.ts
  jupyterlab_caip_optimizer/style/index.css
  package-lock.json
Labels: optimizer

#96 [Optimizer] add dashboard
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/dashboard.spec.tsx
  jupyterlab_caip_optimizer/src/components/dashboard.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget.spec.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget.tsx
  jupyterlab_caip_optimizer/src/service/optimizer.spec.ts
  jupyterlab_caip_optimizer/src/service/optimizer.ts
  jupyterlab_caip_optimizer/src/store/studies.spec.ts
  jupyterlab_caip_optimizer/src/store/studies.ts
Labels: optimizer

#113 [Shared] Synchronize shared Python version with client package
  shared/gcp_jupyterlab_shared/__init__.py
Labels: shared-server

#114 [HardwareConfiguration] Adding machine type drop down select component
  jupyterlab_gcedetails/src/components/machine_type_select.tsx
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#107 [Optimizer] Add 'Create Study' page
  jupyterlab_automl/package-lock.json
  jupyterlab_bigquery/package-lock.json
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/create_study.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget.spec.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget.tsx
  jupyterlab_caip_optimizer/src/index.ts
  jupyterlab_caip_optimizer/src/service/test-constants.ts
  jupyterlab_caip_optimizer/src/store/studies.spec.ts
  jupyterlab_caip_optimizer/src/types.ts
  jupyterlab_comments/package-lock.json
  jupyterlab_comments/src/components/comment.tsx
  jupyterlab_comments/src/components/comments_widget.tsx
  jupyterlab_comments/src/index.ts
  jupyterlab_comments/src/service/comment.ts
  jupyterlab_comments/src/service/file.ts
  jupyterlab_gcpscheduler/package-lock.json
  package-lock.json
  shared/package-lock.json
Labels: optimizer

#118 [HardwareConfiguration] Modifying hardware scaling form to use drop down …
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/input_slider.tsx
  jupyterlab_gcedetails/src/components/machine_type_select.tsx
  jupyterlab_gcedetails/src/components/select_input.tsx
  jupyterlab_gcedetails/src/components/synchronized_sliders.tsx
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#125 [Optimizer] StudyDetails page implemented
  jupyterlab_caip_optimizer/src/components/create_study.spec.tsx
  jupyterlab_caip_optimizer/src/components/create_study.tsx
  jupyterlab_caip_optimizer/src/components/dashboard.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget.spec.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget.tsx
  jupyterlab_caip_optimizer/src/components/study_details.tsx
  jupyterlab_caip_optimizer/src/store/view.ts
  jupyterlab_caip_optimizer/src/utils.ts
Labels: optimizer

#140 [Optimizer] add suggested trials page
  jupyterlab_caip_optimizer/jest.config.js
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/create_study.tsx
  jupyterlab_caip_optimizer/src/components/dashboard.spec.tsx
  jupyterlab_caip_optimizer/src/components/dashboard.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget.spec.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/add_measurement_dialog.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/create_trial.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/index.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/loading.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/metric_inputs.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/suggest_form.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/trials.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/utils.ts
  jupyterlab_caip_optimizer/src/service/optimizer.spec.ts
  jupyterlab_caip_optimizer/src/service/optimizer.ts
  jupyterlab_caip_optimizer/src/service/test-constants.ts
  jupyterlab_caip_optimizer/src/setupTests.ts
  jupyterlab_caip_optimizer/src/store/studies.ts
  jupyterlab_caip_optimizer/src/store/view.ts
  jupyterlab_caip_optimizer/src/types.ts
  jupyterlab_caip_optimizer/src/utils/redux_render.tsx
  jupyterlab_caip_optimizer/src/utils/styles.ts
  jupyterlab_caip_optimizer/src/utils/table_icons.tsx
  jupyterlab_caip_optimizer/src/utils/urls.ts
  jupyterlab_caip_optimizer/src/utils/use_error_state.ts
  jupyterlab_caip_optimizer/src/utils/use_error_state_map.ts
  jupyterlab_caip_optimizer/src/utils/wait.ts
  package-lock.json
Labels: optimizer

#159 [Optimizer] update Dashboard and Sidebar to use loading component
  jupyterlab_caip_optimizer/src/components/dashboard.tsx
  jupyterlab_caip_optimizer/src/components/loading.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget.spec.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/add_measurement_dialog.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/create_trial.tsx
  jupyterlab_caip_optimizer/src/utils/redux_render.tsx
  jupyterlab_caip_optimizer/src/utils/styles.ts
Labels: optimizer

#149 [HardwareConfiguration] Adding class to wrap around required functionality of the GCP AI Plat…
  jupyterlab_gcedetails/src/service/notebooks_service.spec.ts
  jupyterlab_gcedetails/src/service/notebooks_service.ts
  shared/gcp_jupyterlab_shared/__init__.py
  shared/gcp_jupyterlab_shared/handlers.py
  shared/gcp_jupyterlab_shared/handlers_test.py
  shared/package.json
  shared/src/service/data.ts
  shared/src/service/transport.spec.ts
  shared/src/service/transport.ts
Labels: gcedetails

#166 [HardwareConfiguration] Adding state to hardware scaling dialog
  jupyterlab_gcedetails/src/components/hardware_scaling_dialog.tsx
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#168 [Optimizer] add create study and study details tests
  jupyterlab_caip_optimizer/src/components/create_study.spec.tsx
  jupyterlab_caip_optimizer/src/components/create_study.tsx
  jupyterlab_caip_optimizer/src/components/dashboard.spec.tsx
  jupyterlab_caip_optimizer/src/components/study_details.spec.tsx
  jupyterlab_caip_optimizer/src/service/test-constants.ts
  jupyterlab_caip_optimizer/src/utils/redux_render.tsx
  jupyterlab_caip_optimizer/src/utils/urls.ts
Labels: optimizer

#177 Fix integration tests failing due to asynchronous timeout
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/create_study.spec.tsx
Labels: optimizer
