Repository GoogleCloudPlatform/jupyter-extensions, pull requests merged in 2020-08, with the labels that each got.

#179 [Optimizer] refactor: move pages to own folders, move `createManagedWidget`
  jupyterlab_caip_optimizer/src/components/create_study/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/create_study/index.tsx
  jupyterlab_caip_optimizer/src/components/dashboard/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/dashboard/index.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/misc/loading.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/snackbar_widget/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/snackbar_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/study_details/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/study_details/index.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/add_measurement_dialog.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/create_trial.tsx
  jupyterlab_caip_optimizer/src/index.ts
  jupyterlab_caip_optimizer/src/utils/create_managed_widget.ts
Labels: optimizer

#185 [Optimizer] fix requested changes (no create study)
  jupyterlab_caip_optimizer/src/components/create_study/index.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/study_details/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/study_details/index.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/index.tsx
  jupyterlab_caip_optimizer/src/index.ts
  jupyterlab_caip_optimizer/src/store/watch.ts
  jupyterlab_caip_optimizer/src/utils/create_managed_widget.ts
  jupyterlab_caip_optimizer/src/utils/styles.ts
  jupyterlab_caip_optimizer/src/utils/table_icons.tsx
  jupyterlab_caip_optimizer/style/images/graph.svg
  jupyterlab_caip_optimizer/style/images/storage_24px.svg
  jupyterlab_caip_optimizer/style/index.css
Labels: optimizer

#180 [HardwareConfiguration] Adding confirmation page before user submits VM reshaping request
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers_test.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/test_data.py
  jupyterlab_gcedetails/src/components/confirmation_page.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#174 [Optimizer] add conditional parameters tree view for study details
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/parameter_details.tsx
  jupyterlab_caip_optimizer/src/components/parameter_details_dialog.tsx
  jupyterlab_caip_optimizer/src/components/parameter_spec_tree/common_node.ts
  jupyterlab_caip_optimizer/src/components/parameter_spec_tree/index.tsx
  jupyterlab_caip_optimizer/src/components/study_details/index.tsx
  jupyterlab_caip_optimizer/src/service/test-constants.ts
  jupyterlab_caip_optimizer/src/types.ts
  jupyterlab_caip_optimizer/src/types/react-resize-aware.ts
  jupyterlab_caip_optimizer/src/types/react-tree-graph.ts
  jupyterlab_caip_optimizer/src/utils/redux_render.tsx
  jupyterlab_caip_optimizer/src/utils/styles.ts
  jupyterlab_caip_optimizer/tsconfig.json
  package-lock.json
Labels: optimizer

#189 [Optimizer] update create study's looks
  jupyterlab_caip_optimizer/src/components/create_study/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/create_study/index.tsx
  jupyterlab_caip_optimizer/src/components/create_study/metric_list.tsx
  jupyterlab_caip_optimizer/src/components/create_study/parameter_list.tsx
  jupyterlab_caip_optimizer/src/components/create_study/parameter_type_inputs.tsx
  jupyterlab_caip_optimizer/src/components/misc/ChipBox.tsx
Labels: optimizer

#201 [HardwareConfiguration] Fetching accelerator types from gcloud
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers_test.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/test_data.py
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#202 [HardwareConfiguration] Prepopulate scaling form with user's current configuration, adding in…
  jupyterlab_gcedetails/src/components/confirmation_page.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.tsx
  jupyterlab_gcedetails/src/components/machine_type_select.tsx
  jupyterlab_gcedetails/src/components/select_input.tsx
  jupyterlab_gcedetails/src/data.ts
  jupyterlab_gcedetails/src/details_widget.tsx
Labels: gcedetails

#214 [HardwareConfiguration] Restricting gpu types a user can select
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#186 [Optimizer] Visualizations - Parallel Coordinates Feature
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/create_study/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/graphs/parallel_coordinates.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/study_details/index.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/trial_visualization.tsx
Labels: optimizer

#195 [Optimizer] create study conditional parameters
  jupyterlab_caip_optimizer/src/components/create_study/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/create_study/index.tsx
  jupyterlab_caip_optimizer/src/components/create_study/parameter_list.tsx
  jupyterlab_caip_optimizer/src/components/create_study/parameter_type_inputs.tsx
  jupyterlab_caip_optimizer/src/components/create_study/types.ts
  jupyterlab_caip_optimizer/src/components/create_study/utils.ts
  jupyterlab_caip_optimizer/src/setupTests.ts
  jupyterlab_caip_optimizer/src/types.ts
Labels: optimizer

#226 [Optimizer] fix dialogs not being cleared properly
  jupyterlab_caip_optimizer/src/components/suggest_trials/add_measurement_dialog.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/create_trial.tsx
  jupyterlab_caip_optimizer/src/utils/use_error_state_map.ts
Labels: optimizer

#228 [Optimizer] Various changes
  jupyterlab_caip_optimizer/src/components/create_study/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/main_area_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/parameter_spec_tree/common_node.ts
  jupyterlab_caip_optimizer/src/components/parameter_spec_tree/index.tsx
  jupyterlab_caip_optimizer/src/components/sidebar_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/snackbar_widget/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/snackbar_widget/index.tsx
  jupyterlab_caip_optimizer/src/components/study_details/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/study_details/index.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/trials.tsx
  jupyterlab_caip_optimizer/src/utils/theme.ts
  jupyterlab_caip_optimizer/style/index.css
Labels: optimizer

#242 [Optimizer] set min/max create study input type to number
  jupyterlab_caip_optimizer/src/components/create_study/parameter_list.tsx
  jupyterlab_caip_optimizer/src/components/create_study/parameter_type_inputs.tsx
Labels: optimizer

#241 [HardwareConfiguration] Adding error handling in rescaling dialog
  jupyterlab_gcedetails/src/components/confirmation_page.tsx
  jupyterlab_gcedetails/src/components/details_dialog_body.tsx
  jupyterlab_gcedetails/src/components/error_page.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.tsx
  jupyterlab_gcedetails/src/data.ts
  jupyterlab_gcedetails/src/service/notebooks_service.spec.ts
  jupyterlab_gcedetails/src/service/notebooks_service.ts
  shared/gcp_jupyterlab_shared/__init__.py
  shared/package.json
  shared/src/components/message.tsx
Labels: gcedetails

#248 [HardwareConfiguration] Allow user to remove GPUs
  jupyterlab_gcedetails/src/components/confirmation_page.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#249 [HardwareConfiguration] Disable submit reshaping if configuration is same
  jupyterlab_gcedetails/src/components/action_bar.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#217 [Optimizer] suggest trials conditional parameters
  jupyterlab_caip_optimizer/jest.config.js
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/suggest_trials/create_trial.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/index.spec.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/trials.tsx
  jupyterlab_caip_optimizer/src/components/suggest_trials/utils.ts
  jupyterlab_caip_optimizer/src/types.ts
  package-lock.json
Labels: optimizer

#254 [HardwareConfiguration] Final style updates
  jupyterlab_gcedetails/src/components/action_bar.tsx
  jupyterlab_gcedetails/src/components/confirmation_page.tsx
  jupyterlab_gcedetails/src/components/details_dialog_body.tsx
  jupyterlab_gcedetails/src/components/error_page.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.tsx
  jupyterlab_gcedetails/src/components/machine_type_select.tsx
  jupyterlab_gcedetails/src/components/select_input.tsx
  jupyterlab_gcedetails/src/data.ts
Labels: gcedetails

#256 [HardwareConfiguration] Adding material UI dependency
  jupyterlab_gcedetails/package-lock.json
  jupyterlab_gcedetails/package.json
  package-lock.json
Labels: gcedetails

#257 [HardwareConfiguration] Breaking down data file into separate files
  jupyterlab_gcedetails/src/components/confirmation_page.tsx
  jupyterlab_gcedetails/src/components/details_dialog_body.tsx
  jupyterlab_gcedetails/src/components/error_page.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.tsx
  jupyterlab_gcedetails/src/components/machine_type_select.tsx
  jupyterlab_gcedetails/src/components/resource_utilization_charts.tsx
  jupyterlab_gcedetails/src/components/select_input.tsx
  jupyterlab_gcedetails/src/components/server_wrapper.tsx
  jupyterlab_gcedetails/src/components/widget_popup.tsx
  jupyterlab_gcedetails/src/data.ts
  jupyterlab_gcedetails/src/data/accelerator_types.ts
  jupyterlab_gcedetails/src/data/data.ts
  jupyterlab_gcedetails/src/data/machine_types.ts
  jupyterlab_gcedetails/src/data/styles.ts
  jupyterlab_gcedetails/src/details_widget.spec.tsx
  jupyterlab_gcedetails/src/details_widget.tsx
Labels: gcedetails

#258 [HardwareConfiguration] Displaying loading page in dialog while details are being retrieved
  jupyterlab_gcedetails/src/components/details_dialog_body.tsx
Labels: gcedetails

#263 [HardwareConfiguration] Adding tests for accelerator type conversion methods
  jupyterlab_gcedetails/src/data/accelerator_types.spec.ts
  jupyterlab_gcedetails/src/data/accelerator_types.ts
Labels: gcedetails

#277 [HardwareConfiguration] Adding tests for machine type data methods
  jupyterlab_gcedetails/src/components/error_page.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.tsx
  jupyterlab_gcedetails/src/data/data.ts
  jupyterlab_gcedetails/src/data/machine_types.spec.ts
  jupyterlab_gcedetails/src/data/machine_types.ts
  jupyterlab_gcedetails/src/details_widget.tsx
  jupyterlab_gcedetails/src/test_helpers.ts
Labels: gcedetails

#282 Repo health updates
  jupyter-gcs-contents-manager/gcs_contents_manager.py
  jupyterlab_bigquery/package-lock.json
  jupyterlab_bigquery/package.json
  jupyterlab_caip_optimizer/package-lock.json
  jupyterlab_caip_optimizer/package.json
  jupyterlab_caip_optimizer/src/components/suggest_trials/index.spec.tsx
  jupyterlab_comments/package-lock.json
  jupyterlab_comments/package.json
  jupyterlab_comments/src/test/__snapshots__/component.test.tsx.snap
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers_test.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/test_data.py
  jupyterlab_gcedetails/package-lock.json
  jupyterlab_gcedetails/package.json
  jupyterlab_gcedetails/src/setupTests.ts
  jupyterlab_gcpscheduler/jupyterlab_gcpscheduler/__init__.py
  jupyterlab_gcpscheduler/package.json
  jupyterlab_gcpscheduler/src/components/__snapshots__/job_list_item.spec.tsx.snap
  jupyterlab_gcpscheduler/src/setupTests.ts
  jupyterlab_gcsfilebrowser/package.json
  jupyterlab_gitsync/jupyterlab_gitsync/__init__.py
  jupyterlab_gitsync/jupyterlab_gitsync/git_handlers.py
  jupyterlab_gitsync/jupyterlab_gitsync/nb_handlers.py
  jupyterlab_gitsync/jupyterlab_gitsync/tests/handlers_test.py
  jupyterlab_gitsync/jupyterlab_gitsync/tests/nbinit_helper_test.py
  jupyterlab_gitsync/jupyterlab_gitsync/tests/nbmerge_helper_test.py
  jupyterlab_gitsync/package-lock.json
  jupyterlab_gitsync/package.json
  jupyterlab_gitsync/setup.py
  jupyterlab_gitsync/src/components/panel.tsx
  jupyterlab_gitsync/src/components/toolbar.tsx
  jupyterlab_gitsync/src/components/toolbar_button.tsx
  jupyterlab_gitsync/src/components/toolbar_buttons.tsx
  jupyterlab_gitsync/src/index.ts
  jupyterlab_gitsync/src/service/file.ts
  jupyterlab_gitsync/src/service/git.ts
  jupyterlab_gitsync/src/service/notebook_file.ts
  jupyterlab_gitsync/src/service/notebook_resolver.ts
  jupyterlab_gitsync/src/service/resolver.ts
  jupyterlab_gitsync/src/service/service.ts
  jupyterlab_gitsync/src/service/tracker.ts
  jupyterlab_gitsync/tests.py
  jupyterlab_ucaip/package-lock.json
  jupyterlab_ucaip/package.json
  lerna.json
  package-lock.json
  package.json
  scripts/common.sh
  scripts/run_all_tests.sh
  shared/package.json
Labels: hygiene

#284 [HardwareConfiguration] Fetching gpus from client
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers_test.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/test_data.py
  jupyterlab_gcedetails/src/data/accelerator_types.ts
  jupyterlab_gcedetails/src/details_widget.spec.tsx
  jupyterlab_gcedetails/src/details_widget.tsx
  jupyterlab_gcedetails/src/service/details_service.spec.ts
  jupyterlab_gcedetails/src/service/details_service.ts
  jupyterlab_gcedetails/src/test_helpers.ts
Labels: gcedetails

#287 [HardwareComfiguration] Removing unused code
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/service/notebooks_service.spec.ts
  jupyterlab_gcedetails/src/service/notebooks_service.ts
Labels: gcedetails

#286 [HardwareConfiguration] Displaying instance details in reshape complete message
  jupyterlab_gcedetails/src/components/__snapshots__/hardware_scaling_status.spec.tsx.snap
  jupyterlab_gcedetails/src/components/error_page.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.spec.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.tsx
  jupyterlab_gcedetails/src/components/instance_details_message.tsx
  jupyterlab_gcedetails/src/service/details_service.spec.ts
Labels: gcedetails

#293 [HardwareConfiguration] Adding cost estimation
  jupyterlab_gcedetails/jupyterlab_gcedetails/__init__.py
  jupyterlab_gcedetails/jupyterlab_gcedetails/handlers.py
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/instance_details_message.tsx
  jupyterlab_gcedetails/src/data/data.ts
  jupyterlab_gcedetails/src/details_widget.spec.tsx
  jupyterlab_gcedetails/src/details_widget.tsx
  jupyterlab_gcedetails/src/service/details_service.ts
  jupyterlab_gcedetails/src/service/notebooks_service.ts
  jupyterlab_gcedetails/src/service/price_service.ts
Labels: gcedetails

#302 [HardwareConfiguration] Making details a required prop past the details page in the configura…
  jupyterlab_gcedetails/src/components/__snapshots__/hardware_scaling_status.spec.tsx.snap
  jupyterlab_gcedetails/src/components/confirmation_page.tsx
  jupyterlab_gcedetails/src/components/error_page.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.spec.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.tsx
  jupyterlab_gcedetails/src/data/accelerator_types.ts
Labels: gcedetails

#301 [HardwareConfiguration] Moving service initialization to root
  jupyterlab_gcedetails/src/components/server_wrapper.tsx
  jupyterlab_gcedetails/src/details_widget.tsx
  jupyterlab_gcedetails/src/index.ts
Labels: gcedetails
