Repository GoogleCloudPlatform/jupyter-extensions, pull requests merged in 2020-09, with the labels that each got.

#308 [HardwareConfiguration] Adding tests for HardwareScalingForm
  jupyterlab_gcedetails/src/components/__snapshots__/hardware_scaling_form.spec.tsx.snap
  jupyterlab_gcedetails/src/components/hardware_scaling_form.spec.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
Labels: gcedetails

#309 [HardwareConfiguration] Restricting attaching GPU for incompatible frameworks
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
Labels: gcedetails

#306 [HardwareConfig] Updates AuthToken server to new endpoint and bumps version for release.
  jupyterlab_gcedetails/auth_token_server/.gcloudignore
  jupyterlab_gcedetails/auth_token_server/app.js
  jupyterlab_gcedetails/auth_token_server/app.yaml
  jupyterlab_gcedetails/auth_token_server/error.html
  jupyterlab_gcedetails/auth_token_server/index.ts
  jupyterlab_gcedetails/auth_token_server/package-lock.json
  jupyterlab_gcedetails/auth_token_server/package.json
  jupyterlab_gcedetails/auth_token_server/tsconfig.json
  jupyterlab_gcedetails/jupyterlab_gcedetails/version.py
  jupyterlab_gcedetails/package.json
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.tsx
  jupyterlab_gcedetails/src/service/auth_token_retrieval.spec.ts
  jupyterlab_gcedetails/src/service/auth_token_retrieval.ts
Labels: gcedetails

#311 [HardwareConfiguration] Adding tests for Hardware Configuration Dialog
  jupyterlab_gcedetails/src/components/__snapshots__/hardware_configuration_dialog.spec.tsx.snap
  jupyterlab_gcedetails/src/components/details_dialog_body.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.spec.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.spec.tsx
  jupyterlab_gcedetails/src/test_helpers.ts
Labels: gcedetails

#313 [HardwareConfiguration] Improving code readability, updating labels, snapshots and README
  jupyterlab_gcedetails/README.md
  jupyterlab_gcedetails/src/components/__snapshots__/hardware_scaling_form.spec.tsx.snap
  jupyterlab_gcedetails/src/components/chart_wrapper.tsx
  jupyterlab_gcedetails/src/components/confirmation_page.tsx
  jupyterlab_gcedetails/src/components/details_dialog_body.tsx
  jupyterlab_gcedetails/src/components/error_page.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_description.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.spec.tsx
  jupyterlab_gcedetails/src/components/hardware_configuration_dialog.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.spec.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.spec.tsx
  jupyterlab_gcedetails/src/components/hardware_scaling_status.tsx
  jupyterlab_gcedetails/src/components/instance_details_message.tsx
  jupyterlab_gcedetails/src/components/resource_utilization_charts.tsx
  jupyterlab_gcedetails/src/components/server_wrapper.tsx
  jupyterlab_gcedetails/src/data/machine_types.spec.ts
  jupyterlab_gcedetails/src/details_widget.spec.tsx
  jupyterlab_gcedetails/src/details_widget.tsx
  jupyterlab_gcedetails/src/index.ts
  jupyterlab_gcedetails/src/service/auth_token_retrieval.spec.ts
  jupyterlab_gcedetails/src/service/auth_token_retrieval.ts
  jupyterlab_gcedetails/src/service/details_service.spec.ts
  jupyterlab_gcedetails/src/service/notebooks_service.spec.ts
Labels: gcedetails

#314 [HardwareConfiguration] Fixing missing framework bug
  jupyterlab_gcedetails/src/components/hardware_scaling_form.tsx
Labels: gcedetails

#330 Run TS tests serially to avoid flakiness with jupyterlab_caip_optimizer.
  jupyterlab_caip_optimizer/package.json
  jupyterlab_gitsync/package-lock.json
  package-lock.json
  package.json
Labels: hygiene, optimizer

#358 Adds Alpha badge to GCS Filebrowser extension.
  jupyterlab_gcsfilebrowser/jupyterlab_gcsfilebrowser/version.py
  jupyterlab_gcsfilebrowser/package.json
  jupyterlab_gcsfilebrowser/src/index.ts
  jupyterlab_gcsfilebrowser/src/panel_header.tsx
  shared/gcp_jupyterlab_shared/__init__.py
  shared/gcp_jupyterlab_shared/handlers.py
  shared/gcp_jupyterlab_shared/handlers_test.py
  shared/gcp_jupyterlab_shared/version.py
  shared/package.json
  shared/setup.py
  shared/src/components/badge.tsx
Labels: gcsfilebrowser
